<%- include("partials/header") %>
<form method="POST" action="/posts/add">
    <textarea name="text" rows="10" cols="30" placeholder="Co tě napadne..."></textarea><br>
    <input type="submit" value="Odeslat příspěvek"></input> 
</form>
<%- include("partials/footer") %>
